.contact {
  background-color: var(--black);
}

.contact p {
  font-size: 2.25rem;
  text-align: center;
  font-family: var(--Bellefair);
  color: var(--white);
  line-height: 5rem;
}

.contact .contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 2rem;
}

.contact .contact-container .contact-form-container {
  width: 100%;
}

.contact .contact-container .contact-form-container form .row1 {
  display: flex;
  justify-content: flex-start;
  column-gap: 4rem;
}

.contact .contact-container .contact-form-container form .row1 input,
.contact .contact-container .contact-form-container form .row2 input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border-bottom: 2px solid var(--light-greyice-blue);
  border-top: none;
  border-left: none;
  border-right: none;
  line-height: 2rem;
  font-family: var(--Bellefair);
  color: var(--white);
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
  letter-spacing: 2.7px;
}

.contact
  .contact-container
  .contact-form-container
  form
  .row1
  input::placeholder,
.contact
  .contact-container
  .contact-form-container
  form
  .row2
  input::placeholder,
.contact
  .contact-container
  .contact-form-container
  form
  .row3
  textarea::placeholder {
  color: var(--white);
  opacity: 0.9;
}

.contact .contact-container .contact-form-container form .row3 textarea {
  width: 100%;
  background-color: transparent;
  outline: none;
  border-bottom: 2px solid var(--light-greyice-blue);
  border-top: none;
  border-left: none;
  border-right: none;
  line-height: 2rem;
  font-family: var(--Bellefair);
  color: var(--white);
  font-size: 1.25rem;
  resize: none;
  height: 8rem;
  margin-bottom: 2.5rem;
  letter-spacing: 2.7px;
}

.contact .contact-container .contact-form-container form .row4 {
  display: flex;
  justify-content: center;
}

.contact .contact-container .contact-form-container form .row4 #submit {
  background-color: var(--white);
  height: 170px;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--black);
  border: 20px solid;
  font-family: var(--Bellefair);
  transition: 0.3s all ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
}

.contact .contact-container .contact-form-container form .row4 #submit:hover {
  border: 20px solid var(--light-greyice-blue);
}

/* css style for tablet screen */

@media screen and (max-width: 820px) {
  .contact-container {
    flex-direction: column;
  }

  .contact p {
    font-size: 1.5rem;
  }

  .contact .map iframe {
    width: calc(100vw - 4.05rem);
    margin-top: 3rem;
    height: 300px;
  }
}

@media screen and (max-width: 450px) {
  .contact-container {
    flex-direction: column;
  }

  .contact p {
    font-size: 1.5rem;
    line-height: 1.7rem;
    margin: 3rem 0;
  }

  .contact .map iframe {
    width: calc(100vw - 2.05rem);
  }

  .contact .contact-container .contact-form-container form .row4 #submit {
    font-size: 1rem;
    width: 150px;
    height: 150px;
  }
  .contact .contact-container .contact-form-container form .row1 input,
.contact .contact-container .contact-form-container form .row2 input{
  font-size: 1rem;
}
}
