*{margin: 0;
    padding: 0;
    box-sizing: 0;}
body{background-color: pink;
     display: flex;
     justify-content: center;
        min-height: 100vh;
        align-items: center;}
.card{position:relative; 
         width: 250px;
         height: 190px;
         /* height: 450px; */
        background-color: white;
        box-shadow: 0 35px 80px rgba(0,0,0,0.15); 
        transition: 0.5s;
        border-radius: 20px; 
        }
.card:hover{ background-color: white;
            width: 350px;
            height: 450px;
            border-radius: 20px;
            ;
            }
.img{
    height: 150px;
    width: 150px;
    left: 50%;
    top: -50px;
    position: absolute;
    transform: translateX(-50%);
    margin: auto;
    border-radius: 20px;
    transition: 0.5s;
    }
img{ 
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0,0,0,0.35);}
.card:hover .img{ width: 250px;
                height: 250px;
                transition: 0.5s;}
.card  .content{position: absolute;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: flex-end;
                display: flex;
                overflow: hidden;
                }
.card  .content .details{ text-align: center;
                        padding: 40px;
                        width: 100%;
                        transition: 0.5s;
                        transform: translateY(150px);}
 .card:hover  .content .details{transform: translateY(0px);}
.card  .content .details h2{font-size: 1.25em;
                            font-weight: 600;
                            color: #555;
                            line-height: 1.2em;}
.card  .content .details h2 span{font-size: 0.75em;
                                font-weight: 500;
                                opacity: 0.5; }
 .card  .content .details .data{ display: flex;
                                justify-content: space-between;
                                margin:20px 0 ;
                                
                                } 
                              
.card  .content .details .data h3{font-size: 1.em;
                                    line-height: 1.2em
                                    ;color: #555;
                                    font-weight: 600;} 
.card  .content .details .data h3 span{font-size: 0.85em;
                                        font-weight: 400;
                                        opacity: 0.5;}                 
 .card .content .details .button{display: flex;
                                justify-content: space-between;
                                gap: 20px;
                                } 
  .card .content .details .button button{
                                         padding: 10px 20px;
                                        border: none;
                                        outline: none;
                                        border-radius: 20px;
                                        font-size: 1em;
                                        font-weight: 500
                                        ;background-color: rgb(246, 169, 210);
                                        color: white;
                                        cursor:pointer;
                                        }  
   .card .content .details .button button:hover{ background-color: aqua;
                                            color:black;}