/* importing fonts from google */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap'); 

/* variable of fonts and color which use in styling */

:root{
  /* fonts */
  --Barlow-Condensed:'Barlow Condensed', sans-serif;
  --Bellefair:'Bellefair', serif;
  /* colors */
  --white:#ffffff;
  --black:#0B0D17;
  --light-greyice-blue:#D0D6F9;
}

/* reseting browser default css */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.padding_x{
  padding:2rem 6rem ;
}

@media screen and (max-width:820px) {
  .padding_x{
    padding: 1rem 2rem;
  }
}

@media screen and (max-width:450px) {
  .padding_x{
    padding:1rem;
  }
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
